/Análisis_de_Rendimiento_Productores.py
/CLIMA.PY
/ejer1.py
/ejer2.py
/Esferas.py
/Ordenamiento_de_Productores.py
/Pregunta 4.py
/Pregunta_1_T2.py
/Pregunta_1_T3.py
/Pregunta_2_T3.py
/pregunta_3_T2.py
/Pregunta_3_T3.py
/pregunta_5_t2.py
/Pructores_de_Cacao.py
/Registro_de_Productores_de_Cacao.py
/semana2(while).py
/SEMANA2.py
/SEMANA_8.py